<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Name</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ player?.name }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Cash</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ player?.cash }}</h1>

          <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
          <small>New orders</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Bank Account</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ player?.bankacc }}</h1>

          <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
          <small>New visits</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-danger pull-right">Last Seen</span>
          <h5>User activity</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ player?.last_seen }}</h3>
          <small>Last Seen</small>
          <h3 class="no-margins">{{ player?.insert_time }}</h3>
          <small>Join Date</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Playtime</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <base-chart class="chart"
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></base-chart>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#civInv"> Civ Inventory</a></li>
          <li class=""><a data-toggle="tab" href="#copInv">Cop Inventory</a></li>
          <li class=""><a data-toggle="tab" href="#medInv">Medic Inventory</a></li>
        </ul>
        <div class="tab-content">
          <div id="civInv" class="tab-pane active">
            <div class="panel-body">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Item</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gear of player?.civ_gear">
                  <td>{{ gear.name }}</td>
                  <td>{{ gear.count }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="copInv" class="tab-pane">
            <div class="panel-body">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Item</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gear of player?.cop_gear">
                  <td>{{ gear.name }}</td>
                  <td>{{ gear.count }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="medInv" class="tab-pane">
            <div class="panel-body">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Item</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gear of player?.med_gear">
                  <td>{{ gear.name }}</td>
                  <td>{{ gear.count }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#civLicenses"> Civ Licenses</a></li>
          <li class=""><a data-toggle="tab" href="#copLicenses">Cop Licenses</a></li>
          <li class=""><a data-toggle="tab" href="#medLicenses">Medic Licenses</a></li>
        </ul>
        <div class="tab-content">
          <div id="civLicenses" class="tab-pane active">
            <div class="panel-body">
              <button *ngFor="let license of player?.civ_licenses" class="btn" [ngClass]="activeLicense(license.status)"
                      type="button" id="{{ license.id }}">{{ license.name }}
              </button>
            </div>
          </div>
          <div id="copLicenses" class="tab-pane">
            <div class="panel-body">
              <button *ngFor="let license of player?.cop_licenses" class="btn" [ngClass]="activeLicense(license.status)"
                      type="button" id="{{ license.id }}">{{ license.name }}
              </button>
            </div>
          </div>
          <div id="medLicenses" class="tab-pane">
            <div class="panel-body">
              <button *ngFor="let license of player?.med_licenses" class="btn" [ngClass]="activeLicense(license.status)"
                      type="button" id="{{ license.id }}">{{ license.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
